<ul>
    <Li *ngFor="let bicicletta of biciclette">
        <a routerLink="/bicicletta/{{bicicletta.id}}">
            <img [src] = "bicicletta.image" [alt] = "bicicletta.name"/>
            <div class="name">
                {{bicicletta.name}}
            </div>
            <div class="type">
                Type: {{bicicletta.type}}
            </div>
            <div class="brand">
                Brand: {{bicicletta.brand}}
            </div>
            <span class="favourite {{bicicletta.favourite?'':'not'}}">
                ❤
              </span>
            <div class="price">
                <span>
                {{bicicletta.price | currency:'EUR' }}
                </span>
            </div>
            <!--
            <div class="description">
                <span>
                    {{bicicletta.desc}}
                </span>
            </div>
            -->
        </a>
    </Li>
</ul>