<footer class="footer">
    <div class="container">
      <div class="footer-links">
        <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
        <a href="/Customer-support" class="footer-link">Customer support</a>
        <a href="/about" class="footer-link">About us</a>
        <a href="/legal-information" class="footer-link">legal information</a>
      </div>
      <div class="footer-contact">
        <p>&copy; 2024 BikeShop. All rights reserved.</p>
        <p>Email: info@robertbauerson.com</p>
        <p>Phone: +1 (800) 123-4567</p>
      </div>
    </div>
</footer>
  