.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 10px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .footer-contact {
    text-align: center;
  }
  
  .footer-contact p {
    margin: 5px 0;
  }
  